.cartContainer {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    height: 100%;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: orange solid 1px;
}
/*
.cartHeader h1,
.cartHeader h6 {
    display: inline;
    vertical-align: bottom;
}
*/
.cartBody {
    display: flex;
    width: 100%;
    border: yellow solid 1px;
}

.cartList {
    display: inline;
    border: blue solid 1px;
    width: 60%;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.cartCheck {
    display: inline;
    border: green solid 1px;
}

.cartItems {
    display: flex;
    justify-content: space-between;
    border: navy solid 1px;
}

.SelectCheckbox {
    width: 5%;
    border: red solid 1px;
}

.productImage {
    width: 20%;
    border: red solid 1px;
}

.productContent {
    width: 20%;
    border: red solid 1px;
}

.calculation {
    width: 35%;
    border: red solid 1px;
}

.deleteButton {
    width: 10%;
    border: red solid 1px;
}

.cartSummary {
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: purple solid 1px;
}

.summaryInfo {
    height: fit-content;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border: black solid 1px;
}

.totalInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    border: black solid 1px;
}